body {
  color: rgb(1, 253, 253);
  background-color: blanchedalmond;
}
.dark-mode {
  background-color: rgb(7, 5, 5);
}

.dark-mode h1 {
  color: wheat;
}
.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: royalblue;
  height: 2.2rem;
  /* color: white !important; */
}
.navigation li a {
  text-decoration: none;
  padding: 0.7rem 1rem;
  color: aliceblue;
}
.navigation li a:hover {
  background-color: darkblue;
  color: azure;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav button {
  border: none;
  background-color: darkblue;
  color: white;
}

nav button:hover {
  background-color: lightblue;
  color: darkblue;
  cursor: pointer;
  scale: 1.1;
}
